[mysqld]
socket=/tmp/mysql5.sock
port=3306
basedir=/home/mysql/opt/mysql5
datadir=/home/mysql/opt/mysql5/data
sql_mode='NO_ENGINE_SUBSTITUTION'
autocommit=1
tmp_table_size=256m
server_id=0
gtid_mode=OFF
enforce_gtid_consistency=OFF
lower_case_table_names=1
secure-file-priv='/tmp/'
log_bin=OFF
log_bin_trust_function_creators=OFF

[client]
socket=/tmp/mysql5.sock

[mysqldump]
socket=/tmp/mysql5.sock

